/* styles.css */
.movie-box {
    -fx-background-color: #10141b; /* Màu nền */
    -fx-padding: 20;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-border-color: #334155;
    -fx-border-width: 1.5px;
    -fx-pref-width: 533;
    -fx-min-width: 533;
    -fx-max-width: 533;
    -fx-pref-height: 267;
    -fx-min-height: 267;
    -fx-max-height: 267;
}

.movie-title {
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-fill: #FFCC00; /* Màu chữ tiêu đề */
    -fx-max-width: 307; /* Giới hạn chiều rộng tối đa */
    -fx-wrap-text: true; /* Cho phép text xuống dòng */
    -fx-text-overflow: clip; /* Cắt text nếu vượt quá chiều rộng */
    -fx-wraping-width: 307;
}

.movie-info {
    -fx-font-size: 13.3px;
    -fx-fill: #FFFFFF; /* Màu chữ thông tin */
    -fx-max-width: 307; /* Giới hạn chiều rộng tối đa */
    -fx-wrap-text: true; /* Cho phép text xuống dòng */
    -fx-text-overflow: clip; /* Cắt text nếu vượt quá chiều rộng */
}

.movie-description {
    -fx-font-size: 13.3px;
    -fx-fill: #FF0000; /* Màu chữ cho description */
    -fx-max-width: 307; /* Giới hạn chiều rộng tối đa */
    -fx-wrap-text: true; /* Cho phép text xuống dòng */
    -fx-text-overflow: clip; /* Cắt text nếu vượt quá chiều rộng */
}

.showtime-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: #FFFFFF; /* Màu chữ thông tin */
    -fx-max-width: 307; /* Giới hạn chiều rộng tối đa */
    -fx-wrap-text: true; /* Cho phép text xuống dòng */
    -fx-text-overflow: clip; /* Cắt text nếu vượt quá chiều rộng */
}

.container {
    -fx-background-color: #2C2C2C; /* Màu nền cho toàn bộ */
}

.showtime-btn {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 7px;
    -fx-text-fill: white;
    -fx-padding: 7px 14px;
    -fx-font-size: 19px;
    -fx-max-width: 307; /* Giới hạn chiều rộng tối đa */
    -fx-wrap-text: true; /* Cho phép text xuống dòng */
    -fx-text-overflow: clip; /* Cắt text nếu vượt quá chiều rộng */
}

.showtime-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.showdate-label {
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.showdate-btn {
    -fx-background-color: #10141b;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.showdate-btn:hover {
    -fx-background-color: #ff4757;
}