.root{
    -fx-primary-color: #111827;
    -fx-secondary-color: #EF4444;
    -fx-accent-color: #EAB308;
    -fx-font-family: "Montserrat ExtraLight";
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-font-style: italic;
}
.my_button{
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}