.root{
    -fx-primary-color: #111827;
    -fx-secondary-color: #EF4444;
    -fx-accent-color: #EAB308;
}
@font-face {
    font-family: "serif";
    src: url('Montserrat-Italic-VariableFont_wght.ttf');
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.my_button{
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}