.custom-radio {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Tùy chỉnh vòng tròn khi chưa chọn */
.custom-radio .radio {
    -fx-background-color: #1A1D23; /* Trùng màu nền */
    -fx-border-color: #374151FF; /* Viền xám */
    -fx-border-radius: 50%;
    -fx-border-width: 1px;
}

/* Khi RadioButton được chọn */
.custom-radio:selected .radio {
    -fx-background-color: transparent;
    -fx-border-color: #EF4444; /* Viền đỏ */
    -fx-border-width: 1px;
}

/* Chỉnh màu nền bên trong khi chọn */
.custom-radio:selected .dot {
    -fx-background-color: #EF4444; /* Màu đỏ giống hình mẫu */
    -fx-background-radius: 50%;
}