.cinema-layout {
    -fx-background-color: white;
}

.seat-button {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-background-radius: 5px;
}

.seat-normal {
    -fx-background-color: gray;
}

.seat-vip {
    -fx-background-color: orange;
}

.seat-type-selected {
    -fx-background-color: #3B82F6;
}

.screen-label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-padding: 10px;
    -fx-alignment: center;
}


.seat-booked {
       -fx-background-color: #252A31;
    -fx-text-fill: white;
}
.btn-Standard{
        -fx-background-color: #3A3F46;
       -fx-text-fill: white;
}
.btn-Premium{
         -fx-background-color: #FF8413;
        -fx-text-fill: white;
}
.btn-VIP{
          -fx-background-color: #FF3741;
          -fx-text-fill: white;
}

.seat-booked.seat-selected{
    -fx-background-color: #3B82F6;
    -fx-text-fill: white;
}
.btn-Standard.seat-selected{
       -fx-background-color: #3B82F6;
       -fx-text-fill: white;
}
.btn-Premium.seat-selected{
         -fx-background-color: #3B82F6;
        -fx-text-fill: white;
}
.btn-VIP.seat-selected{
          -fx-background-color: #3B82F6;
          -fx-text-fill: white;
}
.btn-bookingTicket{
 -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #fe6969, #e30713);
 -fx-text-fill: white;
 -fx-background-radius: 32px;
 -fx-padding: 10px 20px;
}