<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Cấu hình kết nối postgre -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/starplex</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">12345677</property>

        <!-- Cấu hình Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Đăng ký Entity -->
        <mapping class="com.cinema.starplex.models.User"/>
        <mapping class="com.cinema.starplex.models.Booking"/>
        <mapping class="com.cinema.starplex.models.BookingDetail"/>
        <mapping class="com.cinema.starplex.models.Movie"/>
        <mapping class="com.cinema.starplex.models.MovieType"/>
        <mapping class="com.cinema.starplex.models.Payment"/>
        <mapping class="com.cinema.starplex.models.Room"/>
        <mapping class="com.cinema.starplex.models.Seat"/>
        <mapping class="com.cinema.starplex.models.SeatType"/>
        <mapping class="com.cinema.starplex.models.Showtime"/>
    </session-factory>
</hibernate-configuration>
