<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Cấu hình kết nối postgre -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/starplex</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">12345677</property>

        <!-- Cấu hình Hibernate -->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Connection pool settings -->
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>


        <!-- Connection pool settings với HikariCP -->
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.hikari.maximumPoolSize">5</property>
        <property name="hibernate.hikari.minimumIdle">2</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.poolName">StarplexHikariCP</property>

        <!-- Đăng ký Entity -->
        <mapping class="com.cinema.starplex.models.User"/>
        <mapping class="com.cinema.starplex.models.Booking"/>
        <mapping class="com.cinema.starplex.models.BookingDetail"/>
        <mapping class="com.cinema.starplex.models.Movie"/>
        <mapping class="com.cinema.starplex.models.MovieType"/>
        <mapping class="com.cinema.starplex.models.Payment"/>
        <mapping class="com.cinema.starplex.models.Room"/>
        <mapping class="com.cinema.starplex.models.Seat"/>
        <mapping class="com.cinema.starplex.models.SeatType"/>
        <mapping class="com.cinema.starplex.models.Showtime"/>
        <mapping class="com.cinema.starplex.models.MovieDirector"/>
        <mapping class="com.cinema.starplex.models.Director"/>
        <mapping class="com.cinema.starplex.models.MovieGenre"/>
        <mapping class="com.cinema.starplex.models.MovieActor"/>
        <mapping class="com.cinema.starplex.models.Actor"/>
    </session-factory>
</hibernate-configuration>
